/*
  grey: #343838;
  lio: #005f6b;
  deeper: #008c9e;
  dressed: #00b4cc;
  aqua: #00dffc;
  red:#e74c3c

*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.center {
    margin: 0 auto;
}
.center-text {
    text-align: center;
}

.hidden {
    display: none;
}
.block {
    display: block;
}
a {
    color: #4ECDC4;
    text-decoration: none;
}
a:hover {
    color: #C44D58;
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: #4ECDC4;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

h1 {
    font-size: 3.5em;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: rgba(81, 203, 238, 1) 1px solid;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.controls .add, .controls .sub {
    cursor: pointer;
}

.button {
    height: 50px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff6b6b;
    border: none;
    font-size: 1.3em;
}
.button:hover {
    cursor:pointer;
    /*background-color: #*/
}

.wide-button {
    width: 200px;
}

.margin-top {
    margin-top: 10%;
}
.margin-bottom {
    margin-bottom: 10%;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.clear {
    clear: both;
}

/*************
 * Main      *
 *************/
.main {
    width: 50%;
    margin: 0 auto;
    color: #343838;
}

/************
 * Timeline *
 ************/
.main .headline {
    text-align: center;
    position: relative;
}

.floating-map-icon {
    /*float:right;*/
    position: absolute;
    top: 0;
    right:0px;
}
.floating-map-icon img {
    width: 76px;
    display: block;
}
.floating-map-icon img:hover {
    cursor: pointer;
}

/*************
 * Large Map *
 *************/
.large-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 300px;
    border: 1px solid #0078A8;
}
.large-map .large-map-close {
    position: absolute;
    top: -11px;
    right: 0px;
    z-index: 1000;
    font-size: 3em;
    color: #e74c3c;
}
.large-map .large-map-close:hover {
    cursor: pointer;
}


/*************
 * New Entry *
 *************/
.main .new-area {
    margin-bottom: 20%;
}

.main .text-area textarea {
    display:block;
    width: 97%;
    height: 250px;
    margin: 0 auto;
}

.main .photo-upload-area {
    text-align: center;
    margin: 1%;
    height: 100px;
}
.main .photo-upload-area .drop-area {
    padding: 1%;
    background-color: #008c9e;
    color: #fff;
    height:100%;
}

.main .location-area #map{
    width: 97%;
    height: 200px;
    margin: 0 auto;
}

.main .submit-area {
    width: 100%;
    text-align: center;
}


/*********
 * Entry *
 *********/
.main .entry h2{
    text-align: center;
    font-size: 2em;
    position: relative;
}

.main .entry .text {
    font-family: 'Alegreya', serif;
    padding: 0 15%;
}

.main .entry .text-edit {
    width: 70%;
    height: 200px;
    margin: 0 15%;
}

.main .entry .text h1 {
    font-size: 1.8em;
}

.main .entry .text h2 {
    font-size: 1.5em;
    text-align: left;
}

.main .entry .text h3 {
    font-size: 1.2em;
}

.main .entry .text h3 {
    font-size: 1.1em;
}

.main .entry .location {
    margin-top: 20px;
    font-style: italic;
}

.main .entry .entry-edit {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    font-size: 0.75em;
}

.main .entry .entry-map {
    height: 300px;
}