/*
  grey: #343838;
  lio: #005f6b;
  deeper: #008c9e;
  dressed: #00b4cc;
  aqua: #00dffc;
  red:#e74c3c
  yellow: #fff200;

*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}

.center {
    margin: 0 auto;
}
.center-text {
    text-align: center;
}

.hidden {
    display: none;
}
.block {
    display: block;
}
a {
    color: #4ECDC4;
    text-decoration: none;
}
a:hover {
    color: #C44D58;
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: #4ECDC4;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2em;
}

input[type=text], textarea {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: #555 1px solid;
    font-family: 'Alegreya', serif;
    font-size: 1.15em;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(252, 217, 56, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(252, 217, 56, 1);
}

.controls {
    top: 16px;
    right: 10px;
    position: absolute;
    margin-left: 10px;
    font-size: 0.33em;
}
.controls .add, .controls .sub {
    cursor: pointer;
}
.controls .add:hover, .controls .sub:hover {
    color: #00dffc;
}

.button {
    height: 50px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #54a4e3;
    border: none;
    font-size: 1.3em;
}
.button:hover {
    cursor:pointer;
    background-color: #4c93cc;
}
.button:active {
    cursor:pointer;
    background-color: #427FB0;
    border: 1px solid #366991;
}

.wide-button {
    width: 200px;
}

.margin-top {
    margin-top: 10%;
}
.margin-top-half {
    margin-top: 5%;
}
.margin-bottom {
    margin-bottom: 10%;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.red {
    color: #e74c3c;
}

.clear {
    clear: both;
}

.upper-background {
    padding: 1px;
    background-color: #386D97;
    color: #fff;
}

.lower-background {

}

.more-loader {
    height: 45px;
}

/*************
 * Main      *
 *************/
.main {
    width: 100%;
    color: #343838;
    margin: 0;
}

/************
 * Timeline *
 ************/
.main .headline {
    text-align: center;
    position: relative;
    margin-top: 2%;
}
.main-headline {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.floating-map-icon {
    position: absolute;
    top: 0;
    right:0;
    margin: 5px;
}
.floating-map-icon i {
    width: 60px;
    display: block;
    color: #386D97;
}
.floating-map-icon i:hover {
    cursor: pointer;
    color: #00b4cc;
}

/*************
 * Large Map *
 *************/
.large-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 300px;
    border: 1px solid #0078A8;
    z-index: 5000;
}
.large-map .large-map-close {
    position: absolute;
    top: -7px;
    right: 5px;
    z-index: 1000;
    font-size: 3em;
    color: #386D97;
}
.large-map .large-map-close:hover {
    cursor: pointer;
    color: #00b4cc;
}


/*************
 * New Entry *
 *************/
.main .new-area {
    width: 50%;
    margin: 0 auto 5%;
}

.main .text-area textarea {
    display:block;
    width: 97%;
    height: 250px;
    margin: 0 auto;
    background-color: #efece7;
}

.main .photo-upload-area {
    text-align: center;
    margin: 1%;
    height: 100px;
}
.main .photo-upload-area .drop-area {
    padding: 1%;
    background-color: #008c9e;
    color: #fff;
    height:100%;
}

.main .location-area #map{
    width: 97%;
    height: 250px;
    margin: 0 auto;
}

.main .submit-area {
    width: 100%;
    text-align: center;
}


/*********
 * Entry *
 *********/
.timeline-container {
    width: 50%;
    margin: 0 auto 5%;
}
.main .entry h2{
    text-align: center;
    font-size: 2em;
    position: relative;
}

.main .entry .text {
    font-family: 'Alegreya', serif;
    font-size: 1.1em;
    padding: 0 15%;
}

.main .narrow .entry .text {
    padding: 0 30%;
}

.main .entry .text-edit {
    width: 70%;
    height: 200px;
    margin: 10px 15% 10px;
}

.main .entry .text h1 {
    font-size: 1.8em;
}

.main .entry .text h2 {
    font-size: 1.5em;
    text-align: left;
}

.main .entry .text h3 {
    font-size: 1.2em;
}

.main .entry .text h3 {
    font-size: 1.1em;
}

.main .entry .location {
    margin-top: 20px;
    font-style: italic;
}

.main .entry .edit-controls {
    position: relative;
}

.main .entry .entry-edit {
    position: absolute;
    top: 7px;
    right: 30px;
    display: none;
    font-size: 0.75em;
    color: #386D97;
}
.main .entry .entry-edit:hover {
    color: #00b4cc;
}

.main .entry .edit-delete-container {
    position: absolute;
    top: 0;
    right: 15%;
    text-align: right;
    font-size: 0.95em;
}

.main .entry .entry-map {
    width: 100%;
    height: 300px;
}

.main .backlink {
    font-size: 1.2em;
}

/**********
 * Bubble *
 **********/

.bubble {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
}

/**********
 * Footer *
 **********/
.footer {
    width: 50%;
    margin: 0 auto 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #343838;
}
.footer a:visited {
    color: #343838;
}
.footer a:hover {
    text-decoration: underline;
}