/*
  grey: #343838;
  lio: #005f6b;
  deeper: #008c9e;
  dressed: #00b4cc;
  aqua: #00dffc;
  red:#e74c3c

*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.center {
    margin: 0 auto;
}
.center-text {
    text-align: center;
}

.hidden {
    display: none;
}
a {
    color: #4ECDC4;
    text-decoration: none;
}
a:hover {
    color: #C44D58;
    text-decoration: underline;
}
a:visited {
    color: #4ECDC4;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

h1 {
    font-size: 3.5em;
}

textarea {
    border: #556270 1px solid;
}

.controls .add, .controls .sub {
    cursor: pointer;
}

.button {
    height: 50px;
    padding: 5px 25px 5px 25px;
    color: #fff;
    background-color: #ff6b6b;
    border: none;
    font-size: 1.3em;
}
.button:hover {
    cursor:pointer;
    /*background-color: #*/
}

.wide-button {
    width: 200px;
}

.margin-top {
    margin-top: 10%;
}
.margin-bottom {
    margin-bottom: 10%;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.clear {
    clear: both;
}

/*************
 * Main      *
 *************/
.main {
    width: 50%;
    margin: 0 auto;
    color: #343838;
}

/************
 * Timeline *
 ************/
.main .headline {
    text-align: center;
    position: relative;
}

.floating-map-icon {
    /*float:right;*/
    position: absolute;
    top: 0;
    right:0px;
}
.floating-map-icon img {
    width: 76px;
    display: block;
}
.floating-map-icon img:hover {
    cursor: pointer;
}

/*************
 * Large Map *
 *************/

.large-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 300px;

    border: 1px solid #0078A8;

}


/*************
 * New Entry *
 *************/
.main .new-area {
    margin-bottom: 20%;
}

.main .text-area textarea {
    display:block;
    width: 97%;
    height: 250px;
    margin: 0 auto;
}
.main .text-area textarea:hover,
.main .text-area textarea:active,
.main .text-area textarea:focus {
    outline: 1px solid #556270;
}

.main .photo-upload-area {
    text-align: center;
    margin: 1%;
    height: 100px;
}
.main .photo-upload-area .drop-area {
    padding: 1%;
    background-color: #008c9e;
    color: #fff;
    height:100%;

}

.main .location-area #map{
    width: 97%;
    height: 200px;
    margin: 0 auto;
}

.main .submit-area {
    width: 100%;
    text-align: center;
}


/*********
 * Entry *
 *********/
.main .entry h2{
    text-align: center;
    font-size: 2em;
}

.main .entry .text {
    font-family: 'Alegreya', serif;
    padding: 0 15%;
    margin-bottom: 10%;
}
.main .entry .text h1 {
    font-size: 1.8em;
}
.main .entry .text h2 {
    font-size: 1.5em;
    text-align: left;
}
.main .entry .text h3 {
    font-size: 1.2em;
}
.main .entry .text h3 {
    font-size: 1.1em;
}
.main .entry .location {
    margin-top: 20px;
    font-style: italic;
}

.main .entry .entry-map {
    height: 300px;
}