<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/js/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <title>journal</title>
</head>
<body>

<div class="main" id="main" {% block latest %}{% endblock %}>

    {% block main %}

    {% endblock %}

    {% block single %}

    {% endblock %}
</div>
<script src="/static/js/jquery-2.1.1.min.js" type="application/javascript"></script>
<script src="/static/js/leaflet-0.7.3/leaflet.js" type="application/javascript"></script>
<script src="/static/js/moment.min.js" type="application/javascript"></script>
<script src="/static/js/code.js" type="application/javascript"></script>
</body>
</html>